body {
  font-family: Helvetica, sans-serif;
}

.headerText {
  font-family: Palatino, serif;
}

#mainHeader {
  width: 100%;
}

#title {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#mainMenu {
  text-align: right;
}

#mainMenuUl {
  list-style-type: none;
}

#mainMenuListDiv {
  float: right;
}

#mainMenuUl li {
  text-align: center;
  display: inline-block;
}

.mainMenuButton {
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: row;
}

.item {
  flex-grow: 1;
}